<div class="menu">
  <div>
    <img
      class="logo"
      src="../../../assets/image/logo.png"
      alt="Logo image"
      routerLink="/teacher-dashboard/main"
      style="cursor: pointer;"
    />
  </div>
  <div class="list">
    <div class="list-item">
      <mat-icon class="icon" style="width: 10%">dashboard</mat-icon>
      <a style="width: 50%" routerLink="/teacher-dashboard/main">Trang chủ</a>
      <mat-icon class="arrow">keyboard_arrow_right </mat-icon>
    </div>
    <div class="list-item" style="padding-top: 20px">
      <mat-icon class="icon" style="width: 10%">supervised_user_circle</mat-icon>
      <a style="width: 50%" routerLink="/teacher-dashboard/class">Lớp của tôi</a>
      <mat-icon class="arrow">keyboard_arrow_right </mat-icon>
    </div>
    <div class="list-item" style="padding-top: 20px">
      <mat-icon class="icon" style="width: 10%">calendar_today</mat-icon>
      <a style="width: 50%" routerLink="/teacher-dashboard/schedule">Xem lịch</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="list-item" style="padding-top: 20px">
      <mat-icon class="icon" style="width: 10%">chrome_reader_mode</mat-icon>
      <a style="width: 50%" routerLink="/teacher-dashboard/attendance">Điểm danh</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="list-item" style="padding-top: 20px">
      <mat-icon class="icon" style="width: 10%">contact_support</mat-icon>
      <a style="width: 50%" routerLink="/teacher-dashboard/subject">Giáo án</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="list-item" style="padding-top: 20px">
      <mat-icon class="icon" style="width: 10%">account_circle</mat-icon>
      <a style="width: 50%" routerLink="/teacher-dashboard/info">Thông tin</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>
