<div class="menu">
  <div>
    <img class="logo" src="/assets/image/new_login.png" alt="Logo image" />
  </div>
  <div class="list">
    <div class="list-item">
      <img class="icon" src="/assets/icon/menu_chtrihoc.png" alt="icon image" />
      <a routerLink="/dashboard/curriculum">Nội dung học</a>
      <img class="vector" src="/assets/icon/menu_vector.png" alt="icon image" />
    </div>
    <div class="inner-item">
      <img
        class="small-dot"
        src="/assets/icon/menu_small_dot.png"
        alt="icon image"
      />
      <a routerLink="/dashboard/curriculum">Chương trình</a>
    </div>
    <div class="inner-item">
      <img
        class="small-dot"
        src="/assets/icon/menu_small_dot.png"
        alt="icon image"
      />
      <a routerLink="/dashboard/curriculum">Môn học</a>
    </div>
  </div>
  <div
    class="list"
    style="border-top: 1.5px solid rgba(255, 255, 255, 0.3); padding-top: 30px"
  >
    <div class="list-item">
      <img class="icon" src="/assets/icon/menu_nhansu.png" alt="icon image" />
      <a routerLink="/dashboard/manager">Nhân sự</a>
      <img
        class="vector"
        src="/assets/icon/menu_vector.png"
        alt="icon image"
        style="padding-left: 39.5%"
      />
    </div>
    <div class="inner-item">
      <img
        class="small-dot"
        src="/assets/icon/menu_small_dot.png"
        alt="icon image"
      />
      <a routerLink="/dashboard/manager">Quản lý</a>
    </div>
    <div class="inner-item">
      <img
        class="small-dot"
        src="/assets/icon/menu_small_dot.png"
        alt="icon image"
      />
      <a routerLink="/dashboard/staff">Nhân viên</a>
    </div>
  </div>
  <div
    class="list"
    style="border-top: 1.5px solid rgba(255, 255, 255, 0.3); padding-top: 30px"
  >
    <div class="list-item">
      <img class="icon" src="/assets/icon/menu_branch.png" alt="icon image" />
      <a routerLink="/dashboard/branch">Chi nhánh</a>
      <img
        class="vector"
        src="/assets/icon/menu_vector.png"
        alt="icon image"
        style="padding-left: 32.5%"
      />
    </div>
    <div class="list-item">
      <img class="icon" src="/assets/icon/menu_slot.png" alt="icon image" />
      <a routerLink="/dashboard/shift">Ca học</a>
      <img
        class="vector"
        src="/assets/icon/menu_vector.png"
        alt="icon image"
        style="padding-left: 44.5%"
      />
    </div>
    <div class="list-item">
      <img class="icon" src="/assets/icon/menu_info.png" alt="icon image" />
      <a routerLink="/dashboard/info">Thông tin</a>
      <img
        class="vector"
        src="/assets/icon/menu_vector.png"
        alt="icon image"
        style="padding-left: 34.5%"
      />
    </div>
  </div>
</div>
