<div class="menu">
  <div>
    <img class="logo" src="/assets/image/logo.png" alt="Logo image" />
  </div>
  <div class="list">
    <div class="list-item">
      <img class="icon" src="/assets/icon/menu_chtrihoc.png" alt="icon image" />
      <a style="width: 60%" routerLink="/dashboard/curriculum">Nội dung học</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="inner-item">
      <mat-icon class="dot">radio_button_unchecked</mat-icon>
      <a routerLink="/dashboard/curriculum">Chương trình</a>
    </div>
    <div class="inner-item">
      <mat-icon class="dot">radio_button_unchecked</mat-icon>
      <a routerLink="/dashboard/curriculum">Môn học</a>
    </div>
  </div>
  <div
    class="list"
    style="border-top: 1.5px solid rgba(255, 255, 255, 0.3); padding-top: 30px"
  >
    <div class="list-item">
      <img class="icon" src="/assets/icon/menu_nhansu.png" alt="icon image" />
      <a style="width: 60%" routerLink="/dashboard/manager">Nhân sự</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="inner-item">
      <mat-icon class="dot">radio_button_unchecked</mat-icon>
      <a routerLink="/dashboard/manager">Quản lý</a>
    </div>
    <div class="inner-item">
      <mat-icon class="dot">radio_button_unchecked</mat-icon>
      <a routerLink="/dashboard/staff">Nhân viên</a>
    </div>
  </div>
  <div
    class="list"
    style="border-top: 1.5px solid rgba(255, 255, 255, 0.3); padding-top: 30px"
  >
    <div class="list-item">
      <img class="icon" src="/assets/icon/menu_branch.png" alt="icon image" />
      <a style="width: 60%" routerLink="/dashboard/branch">Chi nhánh</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="list-item">
      <img class="icon" src="/assets/icon/menu_slot.png" alt="icon image" />
      <a style="width: 60%" routerLink="/dashboard/shift">Ca học</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="list-item">
      <img class="icon" src="/assets/icon/menu_info.png" alt="icon image" />
      <a style="width: 60%" routerLink="/dashboard/info">Thông tin</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>
