<div *ngIf="isLoading" class="loading-page" style="padding-left: 39.5%">
  <img class="loading" src="/assets/image/loading.gif" alt="Logo image" />
</div>
<div class="body-curriculum-detail">
  <div class="line-menu">
    |<a
      class="left-line"
      style="cursor: pointer"
      title="Quay về trang chủ"
      routerLink="/dashboard/main"
      >Trang chủ</a
    ><span class="left-line">|</span>
    <a
      class="left-line"
      style="cursor: pointer"
      title="Quay về trang nội dung học"
      routerLink="/dashboard/curriculum"
      >Nội dung học</a
    ><span class="left-line">|</span>
    <span class="left-line">Chi tiết chương trình</span>
  </div>
  <div class="left" *ngIf="!isLoading">
    <form class="form" [formGroup]="form">
      <div class="logo-div">
        <img class="img" src="/assets/image/Logo_big.png" alt="Logo image" />
      </div>
      <div class="flex">
        <div class="input-div" style="padding-right: 10%">
          <p class="label">Mã chương trình</p>
          <input class="input" type="text" formControlName="code" />
          <p class="invalid">Vui lòng điền mã chương trình</p>
        </div>
        <div class="input-div">
          <p class="label">Tên chương trình</p>
          <input class="input" type="text" formControlName="name" />
          <p class="invalid">Vui lòng điền tên chương trình</p>
        </div>
      </div>
      <div class="flex">
        <div class="input-div" style="padding-right: 10%">
          <p class="label">Miêu tả chương trình</p>
          <textarea
            class="input textarea-deco"
            type="text"
            formControlName="description"
          ></textarea>
          <p class="invalid">Vui lòng điền miêu tả chương trình</p>
        </div>
        <div class="input-div">
          <p class="label">Kết quả đạt được</p>
          <textarea
            class="input textarea-deco"
            type="text"
            formControlName="learningOutcome"
          ></textarea>
          <p class="invalid">Vui lòng điền kết quả đầu ra</p>
        </div>
      </div>
      <div class="input-div" *ngIf="subjectArray">
        <div class="title">
          <p class="label">Môn học trong chương trình</p>
          <img
            class="plus"
            title="Tạo chương trình mới"
            src="../../../assets/icon/plus.png"
            (click)="createSubject()"
            alt="plus button"
          />
        </div>
        <table class="table">
          <tr class="header">
            <th class="th-1">Mã môn</th>
            <th class="th-2">Tên môn học</th>
            <th class="th-3">Học phí</th>
            <th class="th-4"></th>
          </tr>
          <tr class="data" *ngFor="let item of subjectArray">
            <td (click)="goToDetailSubject(item.subjectId)" class="td-1">
              {{ item.subjectCode }}
            </td>
            <td (click)="goToDetailSubject(item.subjectId)" class="td-2">
              {{ item.subjectName }}
            </td>
            <td (click)="goToDetailSubject(item.subjectId)" class="td-1">
              {{ item.price }}
            </td>
            <td>
              <img
                class="btn-icon"
                title="Xóa môn học"
                src="../../../assets/icon/delete_icon.png"
                alt="delete button"
                (click)="
                  callAlert(
                    'YN',
                    'Bạn có muốn xóa môn học này không ?',
                    item.subjectId
                  )
                "
              />
              <img
                (click)="goToDetailSubject(item.subjectId)"
                style="cursor: pointer"
                title="Chỉnh sửa môn học"
                src="../../../assets/icon/edit_icon.png"
                alt="edit button"
              />
            </td>
          </tr>
        </table>
        <div class="paging" *ngIf="totalPage">
          <div class="item" *ngFor="let i of pageArray" (click)="changePage(i)">
            <a>{{ i }}</a>
          </div>
        </div>
      </div>
      <div class="button-div">
        <button class="btn-return" (click)="goBack()">Quay lại</button>
        <button class="btn-edit" (click)="editCurriculum()" *ngIf="isEdit">
          Chỉnh sửa
        </button>
        <button
          class="btn-edit"
          (click)="createCurriculum()"
          *ngIf="!isEdit && !isUndo"
        >
          Tạo mới
        </button>
        <button
          class="btn-edit"
          (click)="
            callAlert('YN', 'Bạn có muốn khôi phục chương trình này không ?')
          "
          *ngIf="isUndo"
        >
          Khôi phục
        </button>
      </div>
    </form>
  </div>
</div>
<div class="alert-div" *ngIf="haveAlertOk">
  <div class="alert">
    <p>{{ alertMessage }}</p>
    <button (click)="haveAlertOk = !haveAlertOk">OK</button>
  </div>
</div>
<div class="alert-div" *ngIf="haveAlertYN">
  <div class="alert" *ngIf="haveAlertYN">
    <p>{{ alertMessage }}</p>
    <button (click)="doYes()">Có</button>
    <button (click)="doNo()">Không</button>
  </div>
</div>
