.main-manager {
  padding: 6vh;
  padding-bottom: 1vh;
  .chart-title {
    font-size: 11.5px;
    color: rgba(24, 42, 136, 0.95);
    margin-top: 0.5em;
    text-align: center;
  }
  .suggest-btn {
    background: rgba(255, 255, 255, 0.19);
    border: 1px solid #00bcf7;
    box-sizing: border-box;
    font-size: 9px;
    height: 20px;
    color: #182a88;
  }
  .suggest-btn:hover {
    border: 1px solid #303e67;
  }
  .search-dropdown {
    border-radius: 0 !important;
    box-sizing: border-box;
    height: 2.5em !important;
  }
  .top-margin {
    margin-top: 10px;
  }
  .left {
    width: 67%;
  }
  .right {
    margin-left: 3%;
    width: 30%;
    border: 1px solid #1761fd14;
  }
}
