<div *ngIf="isLoading" class="loading-page">
  <img class="loading" src="/assets/image/loading.gif" alt="Logo image" />
</div>
<form class="form" [formGroup]="form" *ngIf="!isLoading">
  <div class="flex">
    <div class="input-div" style="padding-right: 10%">
      <p class="label">Họ và tên</p>
      <input class="input" type="text" formControlName="name" />
    </div>
    <div class="input-div">
      <p class="label">Ngày sinh</p>
      <input
        class="input"
        type="date"
        formControlName="birthday"
        [ngModel]="birthday | date: 'yyyy-MM-dd'"
      />
    </div>
  </div>
  <div class="input-div" style="padding-right: 10%">
    <p class="label">Địa chỉ</p>
    <textarea
      class="input textarea-deco"
      type="text"
      formControlName="address"
    ></textarea>
  </div>
  <div class="flex">
    <div class="input-div" style="padding-right: 10%">
      <p class="label">Số điện thoại</p>
      <input class="input" type="text" formControlName="phone" />
    </div>
    <div class="input-div">
      <p class="label">Email</p>
      <input class="input" type="email" formControlName="email" />
    </div>
  </div>
  <div class="flex" *ngIf="role === 'student'">
    <div class="input-div" style="padding-right: 10%">
      <p class="label">Tên phụ huynh</p>
      <input class="input" type="text" formControlName="parentName" />
    </div>
    <div class="input-div">
      <p class="label">Số điện thoại phụ huynh</p>
      <input class="input" type="text" formControlName="parentPhone" />
    </div>
  </div>
  <div class="input-div" style="padding-right: 10%" *ngIf="role === 'teacher'">
    <p class="label">Kinh nghiệm giảng dạy</p>
    <textarea
      class="input textarea-deco"
      type="text"
      formControlName="experience"
    ></textarea>
  </div>
  <div mat-dialog-actions class="button-div">
    <button
      class="btn-edit"
      (click)="editInfo()"
      *ngIf="type == 'editStudent' || type == 'editTeacher'"
    >
      Chỉnh sửa
    </button>
    <button
      class="btn-edit"
      (click)="createInfo()"
      *ngIf="type == 'createStudent' || type == 'createTeacher'"
    >
      Tạo mới
    </button>
  </div>
</form>
<div class="alert-div" *ngIf="haveAlertOk">
  <div class="alert">
    <p>{{ alertMessage }}</p>
    <button (click)="close()">OK</button>
  </div>
</div>
<div class="alert-div" *ngIf="haveAlertYN">
  <div class="alert" *ngIf="haveAlertYN">
    <p>{{ alertMessage }}</p>
    <button (click)="doYes()">Có</button>
    <button (click)="doNo()">Không</button>
  </div>
</div>
