<div *ngIf="isLoading" class="loading-page" style="padding-left: 39.5%">
  <img class="loading" src="/assets/image/loading.gif" alt="Logo image" />
</div>
<div class="body-staff">
  <div class="line-menu">
    |<a
      class="left-line"
      style="cursor: pointer"
      title="Quay về trang chủ"
      routerLink="/dashboard/main"
      >Trang chủ</a
    ><span class="left-line">|</span><span class="left-line">Nhân sự</span>
    <span class="left-line">|</span>
    <span class="left-line">Nhân viên</span>
  </div>
  <div class="staff">
    <form class="search" #heroForm="ngForm">
      <img
        class="img-pheu"
        src="../../../assets/icon/pheu loc.png"
        [matMenuTriggerFor]="staffMenu"
      />
      <input
        mdbInput
        class="form-control"
        name="keyStaff"
        [(ngModel)]="keyStaff"
        (change)="searchStaff()"
        type="text"
        placeholder="Tìm tên nhân viên"
      />
      <img
        title="Tìm kiếm"
        class="img-kinh"
        src="../../../assets/icon/search.png"
        (click)="searchStaff()"
        alt="search button"
      />
    </form>
    <div class="title">
      <p *ngIf="isAvailableStaff">Danh sách nhân viên hiện có</p>
      <p *ngIf="!isAvailableStaff">Danh sách nhân viên đã xóa</p>
      <img
        class="plus"
        title="Tạo nhân viên mới"
        src="../../../assets/icon/plus.png"
        (click)="createStaff()"
        alt="plus button"
      />
    </div>
    <div class="div-curriculum" style="margin-right: 3.7%">
      <table class="table" style="margin-top: 1.7%">
        <tr class="header">
          <th class="th-1"></th>
          <th class="th-2 text-left td-2">Tên</th>
          <th class="th-3">Tài khoản</th>
          <th class="th-5">Tên chi nhánh</th>
          <th class="th-6">Email</th>
          <th class="th-7">Số điện thoại</th>
          <th class="th-8">Ngày tạo</th>
          <th class="th-9"></th>
        </tr>
        <tr class="data color-grey poppins" *ngFor="let staff of staffArray">
          <td
            (click)="goToDetail('edit', 'staff', staff)"
            style="padding-left: 1em"
          >
            <img [src]="staff.image" class="image" />
          </td>
          <td
            (click)="goToDetail('edit', 'staff', staff)"
            class="color-blue text-left td-2"
            *ngIf="staff.isAvailable"
          >
            {{ staff.name }}
          </td>
          <td
            (click)="goToDetail('edit', 'staff', staff)"
            class="color-red text-left td-2"
            *ngIf="!staff.isAvailable"
          >
            {{ staff.name }}
          </td>
          <td (click)="goToDetail('edit', 'staff', staff)" class="color-grey">
            {{ staff.username }}
          </td>
          <td
            (click)="goToDetail('edit', 'staff', staff)"
            *ngIf="staff.branchResponseDtoList"
            class="color-grey"
          >
            {{ staff.branchResponseDtoList[0].branchName }}
          </td>
          <td (click)="goToDetail('edit', 'staff', staff)" class="color-grey">
            {{ staff.email }}
          </td>
          <td (click)="goToDetail('edit', 'staff', staff)" class="color-grey">
            {{ staff.phone }}
          </td>
          <td (click)="goToDetail('edit', 'staff', staff)" class="color-grey">
            {{ staff.creatingDate | date: "dd-MM-yyyy" }}
          </td>
          <td class="td-9">
            <img
              *ngIf="isAvailableStaff"
              class="btn-icon"
              title="Xóa nhân viên"
              src="../../../assets/icon/delete_icon.png"
              (click)="
                callAlert('YN', 'Bạn có muốn xóa nhân viên này không ?', staff)
              "
              alt="delete button"
            />
            <img
              (click)="goToDetail('edit', 'staff', staff)"
              style="cursor: pointer"
              title="Chỉnh sửa thông tin"
              src="../../../assets/icon/edit_icon.png"
              alt="edit button"
            />
          </td>
        </tr>
      </table>
      <div class="paging" *ngIf="totalStaffPage" style="padding-right: 0px">
        <div
          class="item"
          *ngFor="let i of pageStaffArray"
          (click)="changePageStaff(i)"
        >
          <a>{{ i }}</a>
        </div>
      </div>
    </div>
  </div>
  <mat-menu #staffMenu="matMenu">
    <button mat-menu-item (click)="viewCurrentStaff()">Hiện có</button>
    <button mat-menu-item (click)="viewDeletedStaff()">Đã xóa</button>
  </mat-menu>
</div>
<div class="alert-div" *ngIf="haveAlertOk">
  <div class="alert">
    <p>{{ alertMessage }}</p>
    <button (click)="haveAlertOk = !haveAlertOk">OK</button>
  </div>
</div>
<div class="alert-div" *ngIf="haveAlertYN">
  <div class="alert" *ngIf="haveAlertYN">
    <p>{{ alertMessage }}</p>
    <button (click)="doYes()">Có</button>
    <button (click)="doNo()">Không</button>
  </div>
</div>
