<div class="guest-new">
  <div class="flex center-justify blog-big-div" style="margin-top: 2em">
    <a
      target="_blank"
      href="https://scholarshipfund.org/"
      style="text-decoration: none; color: black"
    >
      <div class="flex blog-small-div">
        <div class="img-div">
          <img
            src="../../../assets/image/new1.jpg"
            style="width: 100%; height: 100%"
          />
        </div>
        <div class="info-div">
          <div class="hover-info-div">
            <div class="flex center-align-item" style="padding-bottom: 12px">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/app-test-c1bfb.appspot.com/o/6a1a512c-d0c8-4bd4-b717-17831f1e568e.jpg?alt=media"
                class="author-img"
              />
              <p class="author-name">Tác giả: Nguyen Van An</p>
              <mat-icon class="trending-icon">how_to_reg</mat-icon>
            </div>
            <p class="big-title">
              Học sinh giỏi nhận liên tiếp 300 suất học bổng từ CNPR
            </p>
            <p class="small-title">
              Nhân mùa tựu trường, Trung tâm Anh ngữ CNPR kính gửi tới quý phụ
              huynh và các bạn học sinh chương trình tặng học bổng “Back To
              School 2022“.Với phương châm “Active Learning Wins” Trung tâm CNPR
              mong muốn mang lại phương pháp học tập tiến bộ cho sinh viên trong
              ...
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="flex center-justify blog-big-div">
    <a
      target="_blank"
      href="https://www.summerschoolsineurope.eu/"
      style="text-decoration: none; color: black"
    >
      <div class="flex blog-small-div">
        <div class="img-div">
          <img
            src="../../../assets/image/new2.png"
            style="width: 100%; height: 100%"
          />
        </div>
        <div class="info-div">
          <div class="hover-info-div">
            <div class="flex center-align-item" style="padding-bottom: 12px">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/app-test-c1bfb.appspot.com/o/0d5c937e-3c6d-4f29-888c-372cc74e156d.jpg?alt=media"
                class="author-img"
              />
              <p class="author-name">Tác giả: Nguyen Van Binh</p>
              <mat-icon class="trending-icon">how_to_reg</mat-icon>
            </div>
            <p class="big-title">
              Chương trình học hè vui nhộn cho bé từ 3 đến 5 tuổi
            </p>
            <p class="small-title">
              Nhân mùa tựu trường, Trung tâm Anh ngữ CNPR kính gửi tới quý phụ
              huynh và các bạn học sinh chương trình chương trình học mùa hè với
              giáo trình đặc biêkt.Với phương châm “Active Learning Wins” Trung
              tâm CNPR mong muốn mang lại phương pháp học tập tiến bộ cho các bé
              trong ...
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="flex center-justify blog-big-div">
    <a
      target="_blank"
      href="https://www.britishcouncil.vn/hoc-tieng-anh/tieng-anh-nguoi-lon/kinh-nghiem/bi-quyet-tu-hoc-ielts-8.0-hieu-qua"
      style="text-decoration: none; color: black"
    >
      <div class="flex blog-small-div">
        <div class="img-div">
          <img
            src="../../../assets/image/new3.jpg"
            style="width: 100%; height: 100%"
          />
        </div>
        <div class="info-div">
          <div class="hover-info-div">
            <div class="flex center-align-item" style="padding-bottom: 12px">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/app-test-c1bfb.appspot.com/o/cf8f82b3-2229-4448-9803-940c4033c1e0.jpg?alt=media"
                class="author-img"
              />
              <p class="author-name">Tác giả: Nguyen Van Hung</p>
              <mat-icon class="trending-icon">how_to_reg</mat-icon>
            </div>
            <p class="big-title">
              Tìm hiểu bí quyết đạt IELTS 8.0 trong vòng 6 tháng
            </p>
            <p class="small-title">
              "Làm thế nào để đạt điểm IELTS cao" là câu hỏi xuất hiện thường
              xuyên nhất trên các diễn đàn học tiếng Anh hiện nay. Để giải đáp
              được câu hỏi này, còn phụ thuộc rất nhiều vào trình độ tiếng Anh,
              sự chăm chỉ và tập trung của bạn. Dưới đây là một vài bí quyết tự
              học IELTS 8.0 hiệu quả từ Hội đồng Anh ...
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="flex center-justify blog-big-div">
    <a
      target="_blank"
      href="https://www.24h.com.vn/ban-tre-cuoc-song/khanh-vy-tiet-lo-thoi-quen-danh-20-phut-moi-ngay-de-lam-dieu-nay-c64a1302603.html"
      style="text-decoration: none; color: black"
    >
      <div class="flex blog-small-div">
        <div class="img-div">
          <img
            src="../../../assets/image/new4.jpg"
            style="width: 100%; height: 100%"
          />
        </div>
        <div class="info-div">
          <div class="hover-info-div">
            <div class="flex center-align-item" style="padding-bottom: 12px">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/app-test-c1bfb.appspot.com/o/099dd21b-e57a-4a9c-b888-5b134529503c.jpg?alt=media"
                class="author-img"
              />
              <p class="author-name">Tác giả: Nguyen Ngọc Mai</p>
              <mat-icon class="trending-icon">how_to_reg</mat-icon>
            </div>
            <p class="big-title">
              Gặp gỡ Khánh Vy và bí quyết chinh phục ngoại ngữ mới
            </p>
            <p class="small-title">
              Trong một Vlog mới đây, Khánh Vy đã ghi lại những hoạt động hằng
              ngày như tham gia sự kiện, chụp ảnh, dẫn chương trình… Tuy bận rộn
              nhưng nữ MC 22 tuổi vẫn dành thời gian đọc sách ít nhất 20 phút
              mỗi ngày. Đây là “bí kíp” mà Khánh Vy được một đàn anh trong nghề
              chỉ dạy để khả năng nói chuyện ngày càng lưu loát, ngôn từ phong
              phú hơn...
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="flex center-justify blog-big-div">
    <a
      target="_blank"
      href="https://moh.gov.vn/thong-tin-chi-dao-dieu-hanh/-/asset_publisher/DOHhlnDN87WZ/content/cach-thuc-ong-gop-truc-tiep-cho-quy-vaccine-phong-chong-covid-19"
      style="text-decoration: none; color: black"
    >
      <div class="flex blog-small-div">
        <div class="img-div">
          <img
            src="../../../assets/image/new5.jpg"
            style="width: 100%; height: 100%"
          />
        </div>
        <div class="info-div">
          <div class="hover-info-div">
            <div class="flex center-align-item" style="padding-bottom: 12px">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/app-test-c1bfb.appspot.com/o/23766bf2-a483-42f7-8912-95a4653db1ee.jpg?alt=media"
                class="author-img"
              />
              <p class="author-name">Tác giả: Nguyen Thien Ý</p>
              <mat-icon class="trending-icon">how_to_reg</mat-icon>
            </div>
            <p class="big-title">
              Phòng chống dịch Covid, trung tâm CNPR quyên góp 200 triệu cho
              chính phủ
            </p>
            <p class="small-title">
              Tối 5/6, Quỹ vaccine phòng chống COVID-19 sẽ chính thức ra mắt tại
              Hà Nội. Các tổ chức, cá nhân có thể đóng góp trực tiếp cho Quỹ
              theo nhiều hình thứcBan Quản lý Quỹ vaccine phòng COVID-19- Bộ Tài
              chính thông báo đến các tổ chức, cá nhân về việc cung cấp thông
              tin tài khoản, địa chỉ tiếp nhận và đầu mối liên hệ ủng hộ cho
              Quỹ...
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="paging">
    <div class="item item-hover">
      <a>1</a>
    </div>
    <div class="item">
      <a>2</a>
    </div>
    <div class="item">
      <a>3</a>
    </div>
  </div>
</div>
