<div *ngIf="isLoading" class="loading-page" style="padding-left: 39.5%">
  <img class="loading" src="/assets/image/loading.gif" alt="Logo image" />
</div>
<div class="body-info">
  <div class="first-line">
    <div class="div-title">
      <p class="title">Thông tin cá nhân</p>
      <p class="line-title">
        <a
          class="back-title"
          routerLink="/manager-dashboard"
          title="Quay về trang chủ"
          >Trang chủ</a
        ><span class="else-title">/</span
        ><span class="else-title">Thông tin cá nhân</span>
      </p>
    </div>
    <div class="div-today" style="width: 13%">
      <p class="today">{{ today | date: "dd/MM/yyyy" }}</p>
      <mat-icon class="icon-today">date_range</mat-icon>
    </div>
  </div>
  <div class="left" *ngIf="!isLoading">
    <form class="form" [formGroup]="form">
      <div class="logo-div" style="margin-bottom: 1em">
        <img
          class="img"
          src="{{ url }}"
          alt="avatar image"
          (click)="openAvatarDialog()"
        />
      </div>
      <div class="logo-div">
        <mat-icon
          [style.color]="showIcon(i)"
          style="font-size: 25px"
          *ngFor="let ratingId of ratingArr; index as i"
        >
          grade
        </mat-icon>
      </div>
      <div class="flex">
        <div style="width: 25%; padding-right: 10%">
          <div class="input-div">
            <p class="label">Tên đăng nhập</p>
            <input
              class="input"
              type="text"
              formControlName="username"
              readonly
            />
            <p class="invalid">Vui lòng điền tên đăng nhập</p>
          </div>
          <div class="input-div">
            <p class="label">Họ và tên</p>
            <input class="input" type="text" formControlName="name" />
            <p class="invalid">Vui lòng điền họ và tên</p>
          </div>
          <div class="input-div">
            <p class="label">Ngày sinh</p>
            <input
              class="input"
              type="date"
              formControlName="birthday"
              [ngModel]="birthday | date: 'yyyy-MM-dd'"
            />
            <p class="invalid">Vui lòng điền ngày sinh</p>
          </div>
          <div class="input-div">
            <p class="label">Ngày tạo tài khoản</p>
            <input
              class="input"
              readonly
              type="date"
              formControlName="creatingDate"
              [ngModel]="creatingDate | date: 'yyyy-MM-dd'"
            />
            <p class="invalid"></p>
          </div>
        </div>
        <div style="width: 25%; padding-right: 10%">
          <div class="input-div">
            <p class="label">Email</p>
            <input class="input" type="email" formControlName="email" />
            <p class="invalid">Vui lòng điền email</p>
          </div>
          <div class="input-div">
            <p class="label">Số điện thoại</p>
            <input class="input" type="text" formControlName="phone" />
            <p class="invalid">Vui lòng điền số điện thoại</p>
          </div>
          <div class="input-div">
            <p class="label">Chức vụ</p>
            <input class="input" type="text" formControlName="role" readonly />
            <p class="invalid">Vui lòng điền chức vụ</p>
          </div>
          <div class="input-div">
            <p class="label">Tên chi nhánh</p>
            <input
              class="input"
              type="text"
              formControlName="branchName"
              readonly
            />
            <p class="invalid">Vui lòng điền tên chi nhánh</p>
          </div>
        </div>
        <div style="width: 40%">
          <div class="input-div">
            <p class="label">Địa chỉ</p>
            <textarea
              class="input textarea-deco"
              type="text"
              formControlName="address"
            ></textarea>
            <p class="invalid">Vui lòng điền địa chỉ</p>
          </div>
          <div class="input-div">
            <p class="label">Kinh nghiệm</p>
            <textarea
              class="input textarea-deco"
              type="text"
              formControlName="experience"
              readonly
            ></textarea>
            <p class="invalid">Vui lòng điền kinh nghiệm</p>
          </div>
          <div class="button-div">
            <button class="btn-edit">Đổi Mật Khẩu</button>
            <button class="btn-edit">Quên Mật Khẩu</button>
            <button class="btn-edit" (click)="editInfo()">
              Chỉnh Sửa Thông Tin
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="alert-div" *ngIf="haveAlertOk">
  <div class="alert">
    <p>{{ alertMessage }}</p>
    <button (click)="haveAlertOk = !haveAlertOk">OK</button>
  </div>
</div>
