<div *ngIf="isLoading" class="loading-page">
  <img class="loading" src="/assets/image/loading.gif" alt="Logo image" />
</div>
<form class="form" [formGroup]="form">
  <div class="flex">
    <div class="left" style="padding-right: 10%">
      <div class="input-div">
        <p class="label">Tên chi nhánh</p>
        <input class="input" type="text" formControlName="name" />
        <p class="invalid" *ngIf="isValid">Vui lòng điền tên chi nhánh</p>
      </div>

      <div class="input-div">
        <p class="label">Điện thoại</p>
        <input class="input" type="text" formControlName="phone" />
        <p class="invalid" *ngIf="isValid">Vui lòng điền số điện thoại</p>
      </div>
      <div class="input-div">
        <p class="label">Ngày khai trương</p>
        <input
          class="input"
          type="date"
          formControlName="openingDate"
          [ngModel]="openingDate | date: 'yyyy-MM-dd'"
          name="openingDate"
        />
        <p class="invalid" *ngIf="isValid">Vui lòng điền ngày khai trương</p>
      </div>
    </div>
    <div class="right">
      <div class="input-div">
        <p class="label">Địa chỉ</p>
        <textarea
          class="input textarea-deco"
          type="text"
          formControlName="address"
        ></textarea>
        <p class="invalid">Vui lòng điền địa chỉ</p>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="button-div">
    <button class="btn-edit" (click)="editBranch()" *ngIf="isEdit">
      Chỉnh sửa
    </button>
    <button
      class="btn-edit"
      (click)="callAlert('YN', 'Bạn có muốn khôi phục chi nhánh này không ?')"
      *ngIf="isUndo"
    >
      Khôi phục
    </button>
    <button
      class="btn-edit"
      (click)="createBranch()"
      *ngIf="!isEdit && !isUndo"
    >
      Tạo mới
    </button>
  </div>
</form>
<div class="alert-div" *ngIf="haveAlertOk">
  <div class="alert">
    <p>{{ alertMessage }}</p>
    <button (click)="close()">OK</button>
  </div>
</div>
<div class="alert-div" *ngIf="haveAlertYN">
  <div class="alert" *ngIf="haveAlertYN">
    <p>{{ alertMessage }}</p>
    <button (click)="doYes()">Yes</button>
    <button (click)="doNo()">No</button>
  </div>
</div>
