<div class="schedule">
  <div class="first-line">
    <div class="div-title">
      <p class="title">Xem lịch</p>
      <p class="line-title">
        <a
          class="back-title"
          routerLink="/manager-dashboard"
          title="Quay về trang chủ"
          >Trang chủ</a
        ><span class="else-title">/</span
        ><span class="else-title">Xem lịch</span>
      </p>
    </div>
    <div class="div-today" style="width: 13%">
      <p class="today">{{ today | date: "dd/MM/yyyy" }}</p>
      <mat-icon class="icon-today">date_range</mat-icon>
    </div>
  </div>
  <div class="body">
    <div class="left">
      <div style="border: 1px solid #e3ebf6">
        <mat-calendar
          [selected]="selectedDate"
          (selectedChange)="onSelect($event)"
        >
        </mat-calendar>
      </div>
      <div
        class="high-light-class-div"
        style="margin-top: 1em"
        *ngFor="let item of upcomingSession | slice: 0:2"
      >
        <img [src]="item.teacherImage" class="img-teacher" />
        <div class="inner-div">
          <p class="class-name">{{ item.className }}</p>
          <p class="class-time">
            {{ item.startTime | date: "hh:mm":"+0000" }} -
            {{ item.endTime | date: "hh:mm":"+0000" }}
          </p>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="title-schedule-div">
        <p class="title-schedule">
          LỊCH NGÀY {{ selectedDate | date: "dd/MM/yyyy" }}
        </p>
      </div>
      <div *ngIf="!isLoading">
        <div
          style="display: flex; width: 100%"
          *ngFor="let classArray of classSameShiftArray"
        >
          <div class="left-session-div">
            <p>
              {{ classArray.timeStart | date: "hh:mm":"+0000" }}
              {{ classArray.timeEnd | date: "hh:mm":"+0000" }}
            </p>
          </div>
          <div class="right-session-div">
            <div
              *ngFor="let class of classArray.sessionList"
              class="session-div"
              (click)="viewStudentInClass(class.classId)"
            >
              <div>
                <p class="class-name">{{ class.className | uppercase }}</p>
              </div>
              <div style="display: flex">
                <div class="div-img-session">
                  <img
                    [src]="class.teacherImage"
                    title="{{ class.teacherName }}"
                    class="img-teacher-session"
                  />
                </div>
                <div class="div-info-session">
                  <p class="info-text">
                    {{ class.subjectName }}
                  </p>
                  <p class="info-text">Phòng: {{ class.roomName }}</p>
                </div>
              </div>
            </div>
            <div
              *ngFor="let noClass of classArray.moreColumnArray"
              class="session-div no-class"
            ></div>
          </div>
        </div>
        <div style="display: flex; width: 100%" *ngIf="moreRows == 2">
          <div class="left-session-div"></div>
          <div class="right-session-div">
            <div class="session-div no-class"></div>
            <div class="session-div no-class"></div>
            <div class="session-div no-class"></div>
            <div class="session-div no-class"></div>
          </div>
        </div>
        <div
          style="display: flex; width: 100%"
          *ngIf="moreRows == 2 || moreRows == 1"
        >
          <div class="left-session-div"></div>
          <div class="right-session-div">
            <div class="session-div no-class"></div>
            <div class="session-div no-class"></div>
            <div class="session-div no-class"></div>
            <div class="session-div no-class"></div>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading" class="loading-inner-div">
        <img
          class="img-loading"
          src="/assets/image/loading.gif"
          alt="Logo image"
        />
      </div>
    </div>
  </div>
</div>

<div class="alert-div" *ngIf="haveAlertOk">
  <div class="alert">
    <p>{{ alertMessage }}</p>
    <button (click)="haveAlertOk = !haveAlertOk">OK</button>
  </div>
</div>
