<div class="menu">
  <div>
    <img class="logo" src="/assets/image/new_login.png" alt="Logo image" />
  </div>
  <div class="list">
    <div class="list-item" *ngIf="role == 'manager'">
      <mat-icon class="icon" style="width: 10%">dashboard</mat-icon>
      <a style="width: 60%" routerLink="/manager-dashboard/class-management">Quản lý lớp học</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="list-item" style="padding-top: 5px">
      <mat-icon class="icon" style="width: 10%">how_to_vote</mat-icon>
      <a style="width: 60%" routerLink="/manager-dashboard/guest-booking">Đơn tư vấn mới</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
  </div>
  <div
    class="list"
    style="border-top: 1.5px solid rgba(255, 255, 255, 0.3); padding-top: 15px"
  >
    <div class="list-item">
      <mat-icon class="icon" style="width: 10%">account_balance</mat-icon>
      <a style="width: 60%" routerLink="/manager-dashboard/teacher">Về chi nhánh</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="list-item">
      <mat-icon class="dot">radio_button_unchecked</mat-icon>
      <a routerLink="/manager-dashboard/teacher">Giáo viên</a>
    </div>
    <div class="list-item">
      <mat-icon class="dot">radio_button_unchecked</mat-icon>
      <a routerLink="/manager-dashboard/student">Học sinh</a>
    </div>
    <div class="list-item">
      <mat-icon class="dot">radio_button_unchecked</mat-icon>
      <a routerLink="/manager-dashboard/room">Phòng học</a>
    </div>
  </div>
  <div
    class="list"
    style="border-top: 1.5px solid rgba(255, 255, 255, 0.3); padding-top: 15px"
  >
    <div class="list-item">
      <mat-icon class="icon" style="width: 10%">calendar_today</mat-icon>
      <a style="width: 60%" routerLink="/manager-dashboard/schedule">Xem lịch</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="list-item" style="padding-top: 5px">
      <mat-icon class="icon" style="width: 10%">chrome_reader_mode</mat-icon>
      <a style="width: 60%" routerLink="/manager-dashboard/attendance">Điểm danh</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="list-item" style="padding-top: 5px" *ngIf="role == 'manager'">
      <mat-icon class="icon" style="width: 10%">contact_support</mat-icon>
      <a style="width: 60%" routerLink="/manager-dashboard/feedback">Feedbacks</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
    <div class="list-item" style="padding-top: 5px">
      <mat-icon class="icon" style="width: 10%">account_circle</mat-icon>
      <a style="width: 60%" routerLink="/manager-dashboard/info">Thông tin</a>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>
