<div *ngIf="isLoading" class="loading-page">
  <img class="loading" src="/assets/image/loading.gif" alt="Logo image" />
</div>
<form class="form" [formGroup]="form" *ngIf="!isLoading">
  <div class="input-div" style="padding-right: 10%">
    <p class="label">Mật khẩu cũ</p>
    <input class="input" type="password" formControlName="oldPass" />
    <p class="invalid">Vui lòng điền số điện thoại</p>
  </div>
  <div class="input-div">
    <p class="label">Mật khẩu mới</p>
    <input
      class="input"
      placeholder="Ít nhất 6 ký tự gồm chữ và số"
      type="password"
      formControlName="newPass"
    />
    <p class="invalid">Vui lòng điền email</p>
  </div>
  <div class="input-div">
    <p class="label">Xác nhận mật khẩu mới</p>
    <input class="input" type="password" formControlName="reNewPass" />
    <p class="invalid">Vui lòng điền email</p>
  </div>
  <div mat-dialog-actions class="button-div">
    <button class="btn-edit" (click)="changePassword()">Chỉnh sửa</button>
  </div>
</form>
<div class="alert-div" *ngIf="haveAlertOk">
  <div class="alert">
    <p>{{ alertMessage }}</p>
    <button (click)="close()">OK</button>
  </div>
</div>
