.full {
  display: flex;
}
.left {
  float: left;
  width: 15%;
  position: fixed;
}

.right {
  width: 100%;
  padding-left: 15%;
  float: right;
  .header {
    background-color: white;
    width: 100%;
    height: 3em;
    display: block;
    align-items: center;
    border-bottom: 1px solid #e3ebf6;
    .right-header {
      float: right;
      display: flex;
      align-items: center;
      margin-top: 0.3em;
      margin-right: 2.5em;
      .image {
        float: right;
        width: 2.3em;
        height: 2.3em;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
        border-radius: 70px;
        margin-left: 0.8em;
      }
      .bell {
        font-size: 22px;
        height: auto;
        margin-right: 0.3em;
        opacity: 0.5;
        float: right;
      }
      .name {
        float: right;
        margin: 0;
        color: rgba(0, 0, 0, 0.8);
        font-family: "Roboto";
        font-size: 13px;
      }
    }
  }
  .body {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    min-height: 85vh;
  }
  .footer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 5.5vh;
    p {
      color: rgba(0, 0, 0, 0.4);
      margin: 0;
    }
    .img-footer {
      width: 5vh;
    }
  }
}
