<div class="flex center-justify center-align-item forgot-password">
  <div style="width: 30%">
    <div class="form header">
      <p>Quên Mật Khẩu</p>
    </div>
    <form class="form" [formGroup]="form">
      <div class="input-div" style="padding-right: 10%">
        <p class="label">Tên Đăng Nhập</p>
        <input class="input" type="text" formControlName="username" />
      </div>
      <div class="button-div">
        <button class="btn-edit" (click)="forgotPassword()">
          Quên mật khẩu
        </button>
      </div>
    </form>
    <a class="link" routerLink="/login">Quay lại trang đăng nhập</a>
  </div>
</div>
<div class="alert-div" *ngIf="haveAlertOk">
  <div class="alert" style="left: calc(50% - 14.5%)">
    <p>{{ alertMessage }}</p>
    <button (click)="haveAlertOk = !haveAlertOk">OK</button>
  </div>
</div>
<div *ngIf="isLoading" class="loading-page" style="padding-left: 50%">
  <img class="loading" src="/assets/image/loading.gif" alt="Logo image" />
</div>
